@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "poppins";
}

.hero {
    width: 100%;
    height: 100vh;
    padding: 20px 10%;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 150px;
    cursor: pointer;
}

nav .manu-img {
    width: 50px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    margin-right: 150px;
}

nav ul li {
    display: inline-block;
    margin: 10px 30px;
}

nav ul li a {
    color: #000;
    font-weight: 700;
    position: relative;
    padding: 10px;
}

nav ul li a::before {
    content: '';
    width: 100%;
    height: 0px;
    background: #d9f688;
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: -5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: height 0.5s;
}

nav ul li a:hover::before {
    height: 85px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-basis: 50%;
    position: relative;
}

.feature-img {
    width: 100%;
    margin-top: 10px;
}

.thumbnail-img {
    width: 280px;
    position: absolute;
    bottom: 10px;
    left: 0;
    border-radius: 8px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}

.col h1 {
    margin-top: 180px;
    font-size: 40px;
    font-weight: 600;
}

.col a {
    padding: 18px 50px;
    border-radius: 30px;
    background: #d9f688;
    display: inline-block;
    color: #000;
    font-weight: 700;
    margin-top: 70px;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
}