@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    background: #673AB7;
}

form {
    width: 500px;
    margin: 8% auto;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0px 20px 40px rgb(0, 0, 0);
}

.input-box {
    margin: 30px auto;
    width: 80%;
    position: relative;
    box-shadow: 0px 8px 10px -10px rgb(0, 0, 0);
}

.input-box input {
    width: 100%;
    height: 40px;
    border: none;
    background: #efefef;
    padding-left: 50px;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right, #4CAF50, #00bcd4);
}

span .fa {
    padding: 10px;
}

button {
    width: 130px;
    height: 40px;
    margin-left: 10%;
    display: block;
    color: #fff;
    border: 0;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to right, #4CAF50, #00bcd4);
    box-shadow: 0px 8px 10px -10px rgb(0, 0, 0);
   cursor: pointer;
}