@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

.container {
    width: 100%;
    height: 100vh;
    background: #42455a;
}

.manu ul {
    display: inline-flex;
    margin: 50px;
}

.manu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-top: -7px;
    margin-right: 48px;
    filter: invert(1);
}

.active {
    color: #19dafa !important;
}

.signup-btn {
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top Left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.signup-btn span {
    display: block;
    padding: 8px 22px;
}

.banner {
    width: 80%;
    height: 70%;
    top: 25%;
    position: absolute;
    left: 130px;
    color: #fff;
}

.app-text {
    width: 50%;
    float: left;
}

.app-text h1 {
    width: 640px;
    position: relative;
    margin-left: 40px;
    font-size: 43px;
}

.app-text p {
    width: 650px;
    margin: 30px 0 30px 40px;
    font-size: 15px;
    line-height: 35px;
    color: #919191;
}

.app-picture {
    width: 50%;
    float: right;
}

.app-picture img {
    width: 100%;
    margin-top: -20px;
    padding-left: 50px;
}

.play-btn {
    display: inline-flex;
    margin-left: 40px;
}

.play-btn-inner {
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a, #42455a), radial-gradient(circle at top left, #fd00da, #19d7f8);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;
    padding: 10px;
}

.play-btn-inner .fa {
    font-size: 16px;
    cursor: pointer;
}

small {
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}

.quick-links {
    left: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #db1bf6, #19d7f8);
}

.quick-links ul {
    display: flex;
    align-items: center;
    margin: 25px auto;
    text-align: center;
    color: #fff;
}

.quick-links ul li {
    list-style: none;
    margin: 0px 50px;
    cursor: pointer;
}

.quick-links ul li.fa{
    font-size: 25px;
    color: #fff;
}

.quick-links ul li p{
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}
.social-icons{
    right: 72px;
    bottom: 35px;
    position: absolute;
}

.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
.social-icons ul li a{
    color: #999;
    border-radius: 50%;
    border: 1px solid #999;
    padding: 5px;
    display: block;
}
