* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://thumbs.dreamstime.com/b/night-swamp-ferns-moonlit-misty-reflective-dark-green-background-product-display-363343517.jpg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    background: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action-btn:hover {
    scale: 1.05;
    color: #fff;
}

.action-btn:active {
    scale: 0.95;
}

.dropdown-manu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    /* height: 200px; */
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-manu.open{
    height: auto;
}

.dropdown-manu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.dropdown-manu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


@media (max-width:992px) {

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-manu {
        display: block;
    }
}